@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-top-color: #f26e50;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --primary-nav-bar-height: 85px;
  --secondary-nav-bar-height: 0rem;
  --side-bar-height: calc(
    100vh - var(--primary-nav-bar-height) - var(--secondary-nav-bar-height)
  );
  --navbars-offset: calc(
    var(--primary-nav-bar-height) + var(--secondary-nav-bar-height)
  );
}

.modal-container-class > *:first-child {
  overflow: auto;
}

.app {
  max-height: 100%;
  overflow: auto;
}

html,
body {
  height: 100%;
  overflow: auto;
}

.global-modal-class {
  --height: initial;
  --max-height: initial;
}


.googleBtn {
  background: #4285f4;
  display: flex;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  min-width: 270px;
  font-family: "Roboto";
}

.googleBtn > img {
  width: auto;
  display: block;
  margin: 0;
}

.googleBtn > .text {
  flex-grow: 1;
  color: white;
  text-align: center;
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 0.2rem;
}